img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .5rem 0 .1em;
  vertical-align: -0.1em;
  display: inline-block;
}

code {
  padding: 0.25em 0.5em;
  padding-bottom: 0.25em;
  background: #2b2b2b;
  color: #ffeb3b;
}